footer{
    background-color: rgb(87, 85, 85);
    padding: 10px;
    text-align: center;
}

.menu{
    background-color: #1832a3; 
 }
 
 .menu a {
     color: aqua;
 }

 .corpo {
    background-color: #0b112b;
 }

 .fundo{ 
    background-color: #ffffff
 }

