footer{
    background-color: rgb(107, 63, 6);
    padding: 10px;
    text-align: center;
}

.menu{
    background-color: brown; 
 }
 
 .menu a {
     color: aqua;
 }

 .corpo {
    background-color: #0b112b;
 }

