/* Estilos comuns para as páginas de login e cadastro */
.login-form {
  margin: 50px auto;
  width: 320px;
  background-color: #0B112B;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  text-decoration-color: #ffffff;
}

/* Tornar o texto das labels branco para ficar visível */
.login-form label {
  color: white;
}

.login-logo {
  margin: 10px 0 40px 0;
  text-align: center;
}

.login-logo img {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}

#senha {
  color: white !important;
}

#cancelar-login{
  background: #7B0000;
  border-color: #7B0000;
  color: white;
    
}

#entrar-login{
  background-color: #0B2B0E;
  border-color:#0B2B0E ;
}


#entrar-login:hover{
  background-color: #6AA84F;
  color: black;
}

#cancelar-login:hover{
  background-color: #FF5555;
  color: black;
}