@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

.table-wrapper {
    max-height: 69vh; 
    overflow-y: auto; 
}

#saudacoes{color:#ffffff; text-align:center; margin-top: 150px}
body{background-color: #ffffff;}

#marcar{color: #ffffff;
background-color:#0B2B0E;
border-color: #0B2B0E;
}

#cancelar{background-color: #D9D9D9;
    border-color: #D9D9D9;
}

#entrar{
    color: #000;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}

#senha{
    color:#ffffff;
}

#rm{
    color:#ffffff;
}

#topo{background-color: #ffffff;}

#Home {background-color: #ffffff;
}

#botaon{background-color:#D9D9D9;
border-color: #D9D9D9;}

#caixaemcima{background-color: #ffffff;}
#botaovoltar{background-color: #c0c0c0;}

#andar{color:#ffffff;}
#lab{color:#ffffff;}

#botaovoltar{border-color: #D9D9D9;}

#inputTexto{border-color: #000000;}
#inputEmail{border-color: #000;}
#inputStatus{border-color: #000;}
#inputData{border-color: #000;}
#inputID{border-color: #000;}
#inputDataManutencao{border-color: #0B2B0E; background-color: rgba(12, 45, 15, 0.3)}

#novo{background-color:#928f8f; border-color:#928f8f}
#lista{background-color: #928f8f; color:#ffffff; border-color: #928f8f;}

#andar{color: #ffffff;}

#sala{color: #ffffff;}


