@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

.table-wrapper {
    max-height: 69vh; 
    overflow-y: auto; 
}

#saudacoes{color:#ffffff; text-align:center; margin-top: 150px}
body{background-color: #ffffff;}

#marcar{color: #ffffff;
background-color:#0B2B0E;
border-color: #0B2B0E;
}

#cancelar{background-color: #D9D9D9;
    border-color: #D9D9D9;
}

#entrar{
    color: #000;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}

#senha{
    color:#ffffff;
}

#rm{
    color:#ffffff;
}

#topo{background-color: #ffffff;}

#Home {background-color: #ffffff;}